@media (max-width: 1023px){
    .btn{
        padding: 16px 18px;
    }

    .contact-from .from-control{
        padding: 14px;
    }

    .contact-infor{
        line-height: 1.8;
    }

    .social-list{
        font-size: 48px;
    }

    #footer .social-list a{
        margin: 0 4px;
    }

    #footer .copyright a {
        padding: 14px 0;
        display: inline-block;
    }
}

@media (max-width: 740px){
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px !important;
    }

    #header{
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-button {
        display: none;
    }

    #nav > li{
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }

    #nav{
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background-color: #000;
    }

    #nav .subnav a{
        color: #fff;
        padding: 6px 40px;
    }

    #content .member-img{
        width: 60%;
    }

    .contact-from{
        margin-top: 24px;
    }

    .contact-infor{
        line-height: 1.8;
    }
}