/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/*
1. Từ trên xuống dưới
2. Từ ngoài vào trong
3. Tổng quan đến chi tiết 
 */

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng 
*/

.clear{
    clear: both;
}

.text-white{
    color: #fff;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.33333%;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.text-center{
    text-align: center !important;
}

.pull-right{
    float: right !important;
}

#wrapper {

}

#header {
    background-color: #000;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.mobile-menu-btn,
#header .search-button{
    float: right;
    padding: 0 21px;
}

.mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover{
    color: #000;
}

#header .search-button:hover{
    background-color: #f44336;
}

.menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 18px;
    line-height: 46px;
}

#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 36px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    position: relative;
    background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 450;
    font-size: 24px;
}

#slider .class-description{
    margin-top: 25px;
    font-size: 15px;
}


#content {

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 300;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    opacity: 0.6;
    font-style: italic;
    margin-top: 25px;
    
}

#content .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 15px;
}

#content .member-list{
    margin-top: 32px;
}

#content .member-item{
    text-align: center;
}

#content .member-name{
    font-size: 15px;
    text-align: center;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

.tour-section{
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    color: #000;
    margin-top: 40px;
    list-style: none;

}

.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border: 1px solid #ddd;
    color: #757575;

}

.tickets-list .sould-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    background-color: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    float: right;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
}

.places-list{
    margin-top: 16px; 
}

.place-item{
    width: 33.33333%;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    color: #000;
    font-size: 15px;
    padding: 16px;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;

}

.btn{
    font-size: 15px;
    padding: 12px 16px;
    background-color: #000;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-top: 16px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.btn:hover{
    background-color: #ccc;
    color: #000;
}

.contact-content{
    margin-top: 48px;
}

.contact-infor{
    font-size: 18px;
    line-height: 1.5;
}

.contact-infor a{
    opacity: 0.8;
}

.contact-infor a:hover{
    opacity: 1;
}

.contact-infor i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-from{
    font-size: 15px;
    margin-bottom: 112px;
}

.mt-6{
    margin-bottom: 6px;
}

.mt-16{
    margin-bottom: 16px;
}

.mt-32{
    margin-top: 32px;
}

.contact-from .from-control{
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-from .from-submit{
    background: #000;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    float: right;
}

.contact-from .from-submit:hover{
    background: #ccc;
    color: #000;
    border: 1px solid #ccc;
}

.map-section img{
    width: 100%;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.header-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 60px);
    animation: modalFadeIn ease .5s;
}

.modal-close{
    position: absolute;
    font-size: 12px;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal-close:hover{
    background-color: #ccc;
    color: #000;
}

.modal-header{
    background-color: #009688;
    color: #fff;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-body{
    padding: 16px;
}

.modal-lable{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}


.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets{
    background-color: #009688;
    width: 100%;
    padding: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

#buy-tickets:hover{
    background-color: #ccc;
    color: #000;
    
}

.modal-help{
    margin: 16px;
    text-align: right;
    font-size: 15px;
}

.modal-footer .help{
    color: #009688;
}



@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list a{
    font-size: 24px;
}


#footer .social-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}